body {
  box-sizing: border-box;
  background-color: #f2f2f2;
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 25px;
}

h2 {
  margin-bottom: 0;
}

#books-container {
  border: 2px solid black;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

#books-container tbody tr:nth-of-type(odd) {
  background-color: gray;
}

td {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#line {
  margin: 20px auto;
  width: 20%;
  border-bottom: 2px solid black;
}

button,
input {
  border: 2px solid black;
}

button {
  cursor: pointer;
}

#add-btn {
  margin-left: 145px;
}

.remove-button {
  display: flex;
  justify-self: flex-end;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 0 10px;
  height: 50px;
  background-color: white;
  border: 2px solid black;
  margin: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 10px;
}

.page-section {
  display: none;
  padding: 100px 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  color: blue;
}

.page-section.active {
  display: block;
}

footer {
  bottom: 0;
  position: fixed;
  padding: 10px;
  background-color: white;
  width: 100%;
}

#date-time {
  position: fixed;
  top: 50px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

@media (min-width: 768px) {
  #contact-page {
    text-align: center;
    list-style-position: inside;
  }

  .page-section {
    padding: 150px 50px;
  }

  header {
    margin: 10px 50px;
  }

  .nav-links {
    gap: 30px;
  }

  button {
    padding: 10px;
  }

  input {
    width: 50%;
    height: 30px;
  }

  #add-btn {
    margin-left: 295px;
  }

  footer {
    padding: 10px 50px;
  }

  #date-time {
    padding-right: 50px;
  }
}
